In [ ]:
#https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

"""

# Pandas 
## Exploring data
### Methods to Load CSV Data File
[Jupyter](https://www.tutorialspoint.com/jupyter/jupyter_notebook_markdown_cells.htm)

[Data reading](https://www.tutorialspoint.com/machine_learning_with_python/machine_learning_with_python_data_loading_for_ml_projects.htm)

**Bold**

*italic*

__BOLD__

_italic_

"""

In [ ]:
%ls

sample_data/

In [ ]:
%cd drive/MyDrive/1-courses/courses/2021-22-odd-oops-MLA-OE/MLA-OE-Final\ new/code/mine/

[Errno 2] No such file or directory: 'drive/MyDrive/1-courses/courses/2021-22-odd-oops-MLA-OE/MLA-OE-Final new/code/mine/'
/content

# Dictionary to Dataframe

In [ ]:
import pandas as pd

In [ ]:
data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
   'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai','Manchester', 'Cairo', 'Osaka'],
  'age': [41, 28, 33, 34, 38, 31, 37],
   'score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}

In [ ]:
data

{'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
 'city': ['Mexico City',
  'Toronto',
  'Prague',
  'Shanghai',
  'Manchester',
  'Cairo',
  'Osaka'],
 'age': [41, 28, 33, 34, 38, 31, 37],
 'score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]}

In [ ]:
type(data)

dict

In [ ]:
row_labels = [101, 102, 103, 104, 105, 106, 107]

In [ ]:
df = pd.DataFrame(data=data, index=row_labels)
df

       name         city  age  score
101  Xavier  Mexico City   41   88.0
102     Ann      Toronto   28   79.0
103    Jana       Prague   33   81.0
104      Yi     Shanghai   34   80.0
105   Robin   Manchester   38   68.0
106    Amal        Cairo   31   61.0
107    Nori        Osaka   37   84.0

![image.png]()

# Accessing Data

In [ ]:
df.head()

       name         city  age  score
101  Xavier  Mexico City   41   88.0
102     Ann      Toronto   28   79.0
103    Jana       Prague   33   81.0
104      Yi     Shanghai   34   80.0
105   Robin   Manchester   38   68.0

In [ ]:
df.head(2)

       name         city  age  score
101  Xavier  Mexico City   41   88.0
102     Ann      Toronto   28   79.0

In [ ]:
df.tail()

      name        city  age  score
103   Jana      Prague   33   81.0
104     Yi    Shanghai   34   80.0
105  Robin  Manchester   38   68.0
106   Amal       Cairo   31   61.0
107   Nori       Osaka   37   84.0

In [ ]:
df.tail(2)

     name   city  age  score
106  Amal  Cairo   31   61.0
107  Nori  Osaka   37   84.0

In [ ]:
df['city']

101    Mexico City
102        Toronto
103         Prague
104       Shanghai
105     Manchester
106          Cairo
107          Osaka
Name: city, dtype: object

In [ ]:
df.city

101    Mexico City
102        Toronto
103         Prague
104       Shanghai
105     Manchester
106          Cairo
107          Osaka
Name: city, dtype: object

In [ ]:
cities=df['city']

In [ ]:
type(cities)

pandas.core.series.Series

In [ ]:
cities

101    Mexico City
102        Toronto
103         Prague
104       Shanghai
105     Manchester
106          Cairo
107          Osaka
Name: city, dtype: object

In [ ]:
cities[102]

'Toronto'

In [ ]:
df[['city','name']]

            city    name
101  Mexico City  Xavier
102      Toronto     Ann
103       Prague    Jana
104     Shanghai      Yi
105   Manchester   Robin
106        Cairo    Amal
107        Osaka    Nori

In [ ]:
df.loc[102]

name         Ann
city     Toronto
age           28
score       79.0
Name: 102, dtype: object

In [ ]:
df.iloc[0]

name          Xavier
city     Mexico City
age               41
score           88.0
Name: 101, dtype: object

# Store Dataframe into CSV file

In [ ]:
df.to_csv('data.csv')

# List to Dataframe

In [ ]:
l = [[1, 2, 100], [2, 4, 100], [3, 8, 100]]
data=pd.DataFrame(l, columns=['x', 'y', 'z'])
data

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [ ]:
%ls

data.csv  sample_data/

In [ ]:
%pwd

'/content'

# Reading Data

In [ ]:
newdata=pd.read_csv('data.csv', index_col=0)

In [ ]:
temp=pd.read_csv('data.csv')

In [ ]:
temp

   Unnamed: 0    name         city  age  score
0         101  Xavier  Mexico City   41   88.0
1         102     Ann      Toronto   28   79.0
2         103    Jana       Prague   33   81.0
3         104      Yi     Shanghai   34   80.0
4         105   Robin   Manchester   38   68.0
5         106    Amal        Cairo   31   61.0
6         107    Nori        Osaka   37   84.0

In [ ]:
newdata

       name         city  age  score
101  Xavier  Mexico City   41   88.0
102     Ann      Toronto   28   79.0
103    Jana       Prague   33   81.0
104      Yi     Shanghai   34   80.0
105   Robin   Manchester   38   68.0
106    Amal        Cairo   31   61.0
107    Nori        Osaka   37   84.0

# Analyze Data

In [ ]:
newdata.columns

Index(['name', 'city', 'age', 'score'], dtype='object')

In [ ]:
newdata.index

Int64Index([101, 102, 103, 104, 105, 106, 107], dtype='int64')

In [ ]:
newdata.shape

(7, 4)

In [ ]:
newdata.dtypes

name      object
city      object
age        int64
score    float64
dtype: object

In [ ]:
import numpy as np

newdata_ = newdata.astype(dtype={'age': np.int32, 'score': np.float32})
newdata_.dtypes

name      object
city      object
age        int32
score    float32
dtype: object

In [ ]:
newdata.ndim

2

In [ ]:
newdata.memory_usage()

Index    56
name     56
city     56
age      56
score    56
dtype: int64

In [ ]:
newdata_.memory_usage()

Index    56
name     56
city     56
age      28
score    28
dtype: int64

In the example above, the last two columns, age and py-score, use 28 bytes of memory each. That’s because these columns have seven values, each of which is an integer that takes 32 bits, or 4 bytes. Seven integers times 4 bytes each equals a total of 28 bytes of memory usage.

In [ ]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 101 to 107
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      object
 1   city    7 non-null      object
 2   age     7 non-null      int64
 3   score   7 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 280.0+ bytes

In [ ]:
newdata.describe()

             age      score
count   7.000000   7.000000
mean   34.571429  77.285714
std     4.429339   9.446592
min    28.000000  61.000000
25%    32.000000  73.500000
50%    34.000000  80.000000
75%    37.500000  82.500000
max    41.000000  88.000000

# Manipulate Data

In [ ]:
newdata

In [ ]:
newdata.loc[101]=['Ram','Chennai',21,88]

In [ ]:
newdata

      name        city  age  score
101    Ram     Chennai   21   88.0
102    Ann     Toronto   28   79.0
103   Jana      Prague   33   81.0
104     Yi    Shanghai   34   80.0
105  Robin  Manchester   38   68.0
106   Amal       Cairo   31   61.0
107   Nori       Osaka   37   84.0

loc: only work on index

iloc: work on position

at: get scalar values. It's a very fast loc

iat: Get scalar values. It's a very fast iloc


at and iat are meant to access a scalar, that is, a single element in the dataframe, while loc and iloc are meant to access several elements at the same time, potentially to perform vectorized operations.

In [ ]:
newdata.loc[101]

name         Ram
city     Chennai
age           21
score       88.0
Name: 101, dtype: object

In [ ]:
newdata.iloc[0]

name         Ram
city     Chennai
age           21
score       88.0
Name: 101, dtype: object

In [ ]:
newdata.iloc[0,1]

'Chennai'

In [ ]:
newdata.loc[101,'city']

'Chennai'

In [ ]:
newdata

In [ ]:
newdata.loc[101,'city']='Delhi'

In [ ]:
newdata

      name        city  age  score
101    Ram       Delhi   21   88.0
102    Ann     Toronto   28   79.0
103   Jana      Prague   33   81.0
104     Yi    Shanghai   34   80.0
105  Robin  Manchester   38   68.0
106   Amal       Cairo   31   61.0
107   Nori       Osaka   37   84.0

In [ ]:
newdata.at[101]

TypeError: ignored

In [ ]:
newdata.at[101,'name']

'Ram'

In [ ]:
newdata.at[101,'age']

21

In [ ]:
newdata

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0

In [ ]:
newdata.iat[0,1]

'Delhi'

In [ ]:
newdata.at[101,'age']=25

In [ ]:
newdata

      name        city  age  py-score
101    Ram       Delhi   25      88.0
102    Ann     Toronto   28      79.0
103   Jana      Prague   33      81.0
104     Yi    Shanghai   34      80.0
105  Robin  Manchester   38      68.0
106   Amal       Cairo   31      61.0
107   Nori       Osaka   37      84.0

In [ ]:
newdata.loc[101,'city']='Mumbai'

In [ ]:
newdata

       name        city  age  score
101  Xavier      Mumbai   41   88.0
102     Ann     Toronto   28   79.0
103    Jana      Prague   33   81.0
104      Yi    Shanghai   34   80.0
105   Robin  Manchester   38   68.0
106    Amal       Cairo   31   61.0
107    Nori       Osaka   37   84.0

In [ ]:
newdata[newdata["age"] < 32]

     name     city  age  py-score
102   Ann  Toronto   28      79.0
106  Amal    Cairo   31      61.0

# Adding new column

In [ ]:
newdata['Student']='yes'

In [ ]:
newdata

      name        city  age  py-score Student
101    Ram      Mumbai   25      88.0     yes
102    Ann     Toronto   28      79.0     yes
103   Jana      Prague   33      81.0     yes
104     Yi    Shanghai   34      80.0     yes
105  Robin  Manchester   38      68.0     yes
106   Amal       Cairo   31      61.0     yes
107   Nori       Osaka   37      84.0     yes

In [ ]:
newdata['Student']=['yes','no','yes','yes','no','no','yes']

In [ ]:
newdata

       name         city  age  py-score Student
101  Xavier  Mexico City   41      88.0     yes
102     Ann      Toronto   28      79.0      no
103    Jana       Prague   33      81.0     yes
104      Yi     Shanghai   34      80.0     yes
105   Robin   Manchester   38      68.0      no
106    Amal        Cairo   31      61.0      no
107    Nori        Osaka   37      84.0     yes

In [ ]:
newdata.insert(1, "height", [172, 181, 185, 111, 78, 99, 150])

ValueError: ignored

In [ ]:
newdata

       name  height         city  age  py-score Student
101  Xavier     172  Mexico City   41      88.0     yes
102     Ann     181      Toronto   28      79.0      no
103    Jana     185       Prague   33      81.0     yes
104      Yi     111     Shanghai   34      80.0     yes
105   Robin      78   Manchester   38      68.0      no
106    Amal      99        Cairo   31      61.0      no
107    Nori     150        Osaka   37      84.0     yes

In [ ]:
newdata.insert(1, "weight", [72, 35, 57, 89, 53, 29, 50])

In [ ]:
newdata.assign(body_mass_index = newdata["weight"] / (newdata["height"] / 100) ** 2)

,name,weight,height,city,age,py-score,Student,body_mass_index
101,Xavier,72,172,Mexico City,41,88.0,yes,24.337480
102,Ann,35,181,Toronto,28,79.0,no,10.683435
103,Jana,57,185,Prague,33,81.0,yes,16.654492
104,Yi,89,111,Shanghai,34,80.0,yes,72.234397
105,Robin,53,78,Manchester,38,68.0,no,87.113741
106,Amal,29,99,Cairo,31,61.0,no,29.588817
107,Nori,50,150,Osaka,37,84.0,yes,22.222222

In [ ]:
newdata

       name  weight  height         city  age  py-score Student
101  Xavier      72     172  Mexico City   41      88.0     yes
102     Ann      35     181      Toronto   28      79.0      no
103    Jana      57     185       Prague   33      81.0     yes
104      Yi      89     111     Shanghai   34      80.0     yes
105   Robin      53      78   Manchester   38      68.0      no
106    Amal      29      99        Cairo   31      61.0      no
107    Nori      50     150        Osaka   37      84.0     yes

In [ ]:
newdata=newdata.assign(body_mass_index = newdata["weight"] / (newdata["height"] / 100) ** 2)

In [ ]:
newdata

,name,weight,height,city,age,py-score,Student,body_mass_index
101,Xavier,72,172,Mexico City,41,88.0,yes,24.337480
102,Ann,35,181,Toronto,28,79.0,no,10.683435
103,Jana,57,185,Prague,33,81.0,yes,16.654492
104,Yi,89,111,Shanghai,34,80.0,yes,72.234397
105,Robin,53,78,Manchester,38,68.0,no,87.113741
106,Amal,29,99,Cairo,31,61.0,no,29.588817
107,Nori,50,150,Osaka,37,84.0,yes,22.222222

# Sorting

In [ ]:
newdata.sort_index()#ascending=False)

,name,weight,height,city,age,py-score,Student,body_mass_index
101,Xavier,72,172,Mexico City,41,88.0,yes,24.337480
102,Ann,35,181,Toronto,28,79.0,no,10.683435
103,Jana,57,185,Prague,33,81.0,yes,16.654492
104,Yi,89,111,Shanghai,34,80.0,yes,72.234397
105,Robin,53,78,Manchester,38,68.0,no,87.113741
106,Amal,29,99,Cairo,31,61.0,no,29.588817
107,Nori,50,150,Osaka,37,84.0,yes,22.222222

In [ ]:
newdata.sort_index(ascending=False)

,name,weight,height,city,age,py-score,Student,body_mass_index
107,Nori,50,150,Osaka,37,84.0,yes,22.222222
106,Amal,29,99,Cairo,31,61.0,no,29.588817
105,Robin,53,78,Manchester,38,68.0,no,87.113741
104,Yi,89,111,Shanghai,34,80.0,yes,72.234397
103,Jana,57,185,Prague,33,81.0,yes,16.654492
102,Ann,35,181,Toronto,28,79.0,no,10.683435
101,Xavier,72,172,Mexico City,41,88.0,yes,24.337480

In [ ]:
newdata.sort_values(by="age", inplace=True)

In [ ]:
newdata

,name,weight,height,city,age,py-score,Student,body_mass_index
102,Ann,35,181,Toronto,28,79.0,no,10.683435
106,Amal,29,99,Cairo,31,61.0,no,29.588817
103,Jana,57,185,Prague,33,81.0,yes,16.654492
104,Yi,89,111,Shanghai,34,80.0,yes,72.234397
107,Nori,50,150,Osaka,37,84.0,yes,22.222222
105,Robin,53,78,Manchester,38,68.0,no,87.113741
101,Xavier,72,172,Mexico City,41,88.0,yes,24.337480

# Adding new row

In [ ]:
newdata.loc[110]=['Mala','Cochin',35 , 67,'no']

In [ ]:
newdata

      name        city  age  py-score Student
101    Ram      Mumbai   25      88.0     yes
102    Ann     Toronto   28      79.0      no
103   Jana      Prague   33      81.0     yes
104     Yi    Shanghai   34      80.0     yes
105  Robin  Manchester   38      68.0      no
106   Amal       Cairo   31      61.0      no
107   Nori       Osaka   37      84.0     yes
110   Mala      Cochin   35      67.0      no

# Delete Column

In [ ]:
temp=newdata
del newdata['py-score']

In [ ]:
newdata

      name        city  age Student
101    Ram      Mumbai   25     yes
102    Ann     Toronto   28      no
103   Jana      Prague   33     yes
104     Yi    Shanghai   34     yes
105  Robin  Manchester   38      no
106   Amal       Cairo   31      no
107   Nori       Osaka   37     yes
110   Mala      Cochin   35      no

In [ ]:
newdata.drop(['age','Student'],axis=1,inplace=True)

In [ ]:
newdata

      name        city
101    Ram      Mumbai
102    Ann     Toronto
103   Jana      Prague
104     Yi    Shanghai
105  Robin  Manchester
106   Amal       Cairo
107   Nori       Osaka
110   Mala      Cochin

# Delete Row

In [ ]:
newdata.drop([107],axis=0,inplace=True)

In [ ]:
newdata

      name        city
101    Ram      Mumbai
102    Ann     Toronto
103   Jana      Prague
104     Yi    Shanghai
105  Robin  Manchester
106   Amal       Cairo
110   Mala      Cochin

# Replace a value

In [ ]:
newdata.replace("Mala", "Jasmine", inplace=True)

In [ ]:
newdata

        name        city
101      Ram      Mumbai
102      Ann     Toronto
103     Jana      Prague
104       Yi    Shanghai
105    Robin  Manchester
106     Amal       Cairo
110  Jasmine      Cochin

#missing values

In [ ]:
import numpy as np
bonus_array = np.array([[0,np.nan,2],[np.nan,1,0],[0, 1, 0], [3, 3, 0]])
bonus_points = pd.DataFrame(bonus_array, columns=["oct", "nov", "dec"], index=["bob","colin", "darwin", "charles"])
bonus_points

         oct  nov  dec
bob      0.0  NaN  2.0
colin    NaN  1.0  0.0
darwin   0.0  1.0  0.0
charles  3.0  3.0  0.0

In [ ]:
grades_array = np.array([[8,8,9],[10,9,9],[4, 8, 2], [9, 10, 10]])
grades = pd.DataFrame(grades_array, columns=["sep", "oct", "nov"], index=["alice","bob","charles","darwin"])
grades

         sep  oct  nov
alice      8    8    9
bob       10    9    9
charles    4    8    2
darwin     9   10   10

In [ ]:
grades+bonus_points

         dec   nov   oct  sep
alice    NaN   NaN   NaN  NaN
bob      NaN   NaN   9.0  NaN
charles  NaN   5.0  11.0  NaN
colin    NaN   NaN   NaN  NaN
darwin   NaN  11.0  10.0  NaN

Looks like the addition worked in some cases but way too many elements are now empty. That's because when aligning the DataFrames, some columns and rows were only present on one side, and thus they were considered missing on the other side (NaN). Then adding NaN to a number results in NaN, hence the result.

Handling missing data

Dealing with missing data is a frequent task when working with real life data. Pandas offers a few tools to handle missing data.

Let's try to fix the problem above. For example, we can decide that missing data should result in a zero, instead of NaN. We can replace all NaN values by a any value using the fillna() method:

In [ ]:
(grades + bonus_points).fillna(0)

         dec   nov   oct  sep
alice    0.0   0.0   0.0  0.0
bob      0.0   0.0   9.0  0.0
charles  0.0   5.0  11.0  0.0
colin    0.0   0.0   0.0  0.0
darwin   0.0  11.0  10.0  0.0

In [ ]:
final = grades + bonus_points
final

         dec   nov   oct  sep
alice    NaN   NaN   NaN  NaN
bob      NaN   NaN   9.0  NaN
charles  NaN   5.0  11.0  NaN
colin    NaN   NaN   NaN  NaN
darwin   NaN  11.0  10.0  NaN

In [ ]:
final.dropna(how="all")

         dec   nov   oct  sep
bob      NaN   NaN   9.0  NaN
charles  NaN   5.0  11.0  NaN
darwin   NaN  11.0  10.0  NaN

In [ ]:
final

         dec   nov   oct  sep
alice    NaN   NaN   NaN  NaN
bob      NaN   NaN   9.0  NaN
charles  NaN   5.0  11.0  NaN
colin    NaN   NaN   NaN  NaN
darwin   NaN  11.0  10.0  NaN

In [ ]:
f=final.dropna(how="all",axis=1)

In [ ]:
f

          nov   oct
alice     NaN   NaN
bob       NaN   9.0
charles   5.0  11.0
colin     NaN   NaN
darwin   11.0  10.0

In [ ]:
f.dropna(how="all",axis=0)

          nov   oct
bob       NaN   9.0
charles   5.0  11.0
darwin   11.0  10.0

# Save Dataframe

In [ ]:
my_df.to_csv("my_df.csv")
my_df.to_html("my_df.html")
my_df.to_json("my_df.json")

In [ ]:
my_df_loaded = pd.read_csv("my_df.csv", index_col=0)
my_df_loaded

In [ ]:
https://realpython.com/pandas-dataframe/#:~:text=The%20Pandas%20DataFrame%20is%20a,with%20in%20Excel%20or%20Calc.
https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673
https://www.geeksforgeeks.org/python-pandas-dataframe/

SyntaxError: ignored